/* Media Query */
/* 〜 320pxまでレスポンジブ化 */

@media screen and (max-width: 1622px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 90rem;
  }

  .container.active .job-card {
    height: 85rem;
  }
}

@media screen and (max-width: 1607px) {

  /* Mission Section */
  .mission-img {
    width: 45%;
  }

  .container.active .mission-img {
    width: 50%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .sliders {
    column-gap: 1rem;
  }

  .sliders .tap:first-child {
    margin-left: 0.5rem;
  }
  
  .sliders .tap:last-child {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 1582px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 95rem;
  }

  .container.active .job-card {
    height: 90rem;
  }
}

@media screen and (max-width: 1557px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 100rem;
  }

  .container.active .job-card {
    height: 95rem;
  }
}

@media screen and (max-width: 1513px) {

  /* Mission Section */
  .value-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container.active .value-wrapper {
    flex-direction: row;
    align-items: flex-end;
  }

  .mission-img {
    width: 70%;
    margin-top: 3rem;
  }

  .container.active .mission-img {
    width: 50%;
  }
}

@media screen and (max-width: 1457px) {

  /* Mission Section */
  .container.active .value-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container.active .mission-img {
    width: 70%;
    margin-top: 3rem;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 105rem;
  }

  .sliders {
    bottom: 2rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .sliders .tap:first-child,
  .sliders .tap:nth-child(4) {
    margin-left: 1rem;
  }
  
  .sliders .tap:nth-child(3) {
    margin-right: 1rem;
  }

  .sliders .tap:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1433px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .container.active .job-card {
    height: 100rem;
  }
}

@media screen and (max-width: 1406px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .container.active .job-card {
    height: 105rem;
  }
}

@media screen and (max-width: 1398px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 110rem;
  }
}

@media screen and (max-width: 1346px) {

  /* Mission Section */
  .mission-img {
    width: 75%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 115rem;
  }
}

@media screen and (max-width: 1319px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 120rem;
  }
}

@media screen and (max-width: 1300px) {

  /* Our Team Section */
  .container .members {
    grid-template-columns: 1fr;
  }

  .container.active .members {
    grid-template-columns: 1fr 1fr;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .application-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .application-text p {
    width: 90%;
    margin-top: 2rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  /* Contact Section */
  .contact-info {
    flex-direction: column;
    justify-content: center;
  }

  .contact-info p {
    width: 90%;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1283px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .container.active .job-card {
    height: 110rem;
  }
}


@media screen and (max-width: 1250px) {

  /* Mission Section */
  .mission-img {
    width: 80%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .sliders {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 1248px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .container.active .job-card {
    height: 115rem;
  }
}

@media screen and (max-width: 1241px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 125rem;
  }
}

@media screen and (max-width: 1200px) {

  /* Reusable */
  .section-wrapper {
    padding-right: 10rem;
  }

  /* Our Team Section */
  .container.active .members {
    grid-template-columns: 1fr;
  }

  .emoshu-shugo .img-container {
    width: 85%;
  }

  /* Footer */
  .footer .section-wrapper {
    padding: 5rem 10rem 3rem 40rem;
  }
}

@media screen and (max-width: 1155px) {

  /* Mission Section */
  .container.active .mission-img {
    width: 80%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 130rem;
  }

  .container.active .job-card {
    height: 120rem;
  }

  .sliders {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .sliders .tap:nth-child(odd) {
    margin-left: 1rem;
    margin-right: 0;
  }

  .sliders .tap:nth-child(even) {
    margin-right: 1rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 1139px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 135rem;
  }
}

@media screen and (max-width: 1119px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .container.active .job-card {
    height: 125rem;
  }
}

@media screen and (max-width: 1112px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card {
    height: 145rem;
  }
}

@media screen and (max-width: 1100px) {

  /* Reusable */
  .section-wrapper {
    padding: 5rem 2.5rem;
    grid-template-columns: 1fr 3fr;
  }
  
  .container.active .section-wrapper {
    padding-left: 2.5rem;
  }
  
  /* Top Navigation Bar */
  nav ul.sp-menu {
    display: flex;
  }
  
  .btn-wrapper {
    display: flex;
  }
  
  /* Side Navigation */
  .sidebar-menu {
    display: none;
  }

  /* Theme Toggle Button */
  .toggle-btn {
    right: 2rem;
    top: 9rem;
  }
  
  /* Content */
  .container, .container.active {
    width: 100%;
  }

  /* Mission Section */
  .value-wrapper, .container.active .value-wrapper {
    flex-direction: row;
    align-items: flex-end;
  }

  .mission-img, .container.active .mission-img {
    width: 50%;
  }

  /* Our Team Section */
  .single-box {
    margin: 0 12rem; 
  }

  .emoshu-shugo .img-container {
    width: 65%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 90rem;
  }

  .sliders {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 1.5rem;
  }

  .sliders .tap:nth-child(odd), .sliders .tap:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }

  .sliders .tap:first-child {
    margin-left: 1rem;
  }
  
  .sliders .tap:last-child {
    margin-right: 1rem;
  }
  
  /* Page Top */
  .page-top-container a.page-top {
    right: 2rem;
  }

  /* Footer */
  .footer .section-wrapper {
    padding: 5rem 10rem 3rem 2.5rem;
  }

  .container.active .footer .section-wrapper {
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 1000px) {

  /* Mission Section */
  .mission-img, .container.active .mission-img {
    width: 45%;
  }
}

@media screen and (max-width: 969px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 95rem;
  }
}

@media screen and (max-width: 969px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 100rem;
  }
}

@media screen and (max-width: 920px) {

  /* Mission Section */
  .value-wrapper, .container.active .value-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .mission-img, .container.active .mission-img {
    width: 60%;
  }

  /* Our Team Section */
  .single-box {
    margin: 0 8rem; 
  }
}

@media screen and (max-width: 837px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 105rem;
  }
}

@media screen and (max-width: 810px) {

  /* Our Team Section */
  .single-box {
    margin: 0 6rem; 
  }
}

@media screen and (max-width: 806px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 110rem;
  }
}

@media screen and (max-width: 768px) {

  /* Universal */
  p, strong {
    font-size: 1.2rem;
  }

  /* Reusable */
  .section-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 7rem;
  }

  .section-title h4.section-index {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
  }

  .section-title h1 {
    font-size: 3rem;
  }

  .section-title h3 {
    font-size: 1.3rem;
  }

  .section-main {
    margin-top: 0;
  }

  a.btn {
    font-size: 1.4rem;
    padding: 1.4rem 0;
  }

  /* Top Navigation Bar */
  nav {
    height: 8rem;
  }

  .logo {
    width: 18rem;
  }

  .logo a img {
    width: 18rem;
  }

  nav ul.sp-menu {
    padding-top: 8rem;
  }

  nav ul.sp-menu li a {
    font-size: 1.8rem;
  }

  /* Animated Toggle Icon */
  .btn-wrapper {
    width: calc(100% - 18rem);
    height: 8rem;
  }

  /* Theme Toggle Button */
  .toggle-btn {
    top: 7rem;
  }

  /* Hero Section */
  .header h1 {
    font-size: 4.5rem;
  }

  /* Mission Section */
  .mission-value h1 {
    font-size: 2.5rem;
  }

  .mission-value h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  
  .mission-value h2.value {
    margin-top: 8rem;
  }

  .value-text p {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .value-wrapper, .container.active .value-wrapper {
    flex-direction: row;
    align-items: flex-end;
  }

  .mission-img, .container.active .mission-img {
    width: 50%;
  }

  /* Service Section */
  .service h4 {
    font-size: 1.4rem;
  }

  /* Our Team Section */
  .single-box {
    margin: 0 12rem; 
  }

  .emoshu-shugo .img-container {
    width: 60%;
  }

  /* Recruit Section */
  .recruit-title {
    width: 12rem;
    margin: 0 auto 5rem;
    position: relative;
  }
  
  .emoshu-svg {
    width: 5rem;
  }

  .recruit-title h2 {
    font-size: 2rem;
    left: 4rem;
  }

  /* Recruit - 働く環境 */
  .work-env {
    width: 80%;
  }
  
  .work-env-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 2.2rem 0 2.2rem 6rem;
  }
  
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 85rem;
  }
  
  .attitude {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
  }
  
  .attitude h3 {
    text-align: center;
  }

  .attitude div {
    margin: 0 auto;
  }

  .job-content h1 {
    font-size: 3rem;
  }

  .job-content h3 {
    font-size: 1.5rem;
  }

  .sliders .tap {
    font-size: 1.4rem;
  }

  .application-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .application-text p {
    width: 70%;
    margin-top: 1.5rem;
    margin-right: 2.5rem;
    margin-bottom: 0;
  }

  /* About Us Section */
  .info-title, .info-text {
    padding: 2.5rem 0 2.5rem 2rem;
  }

  .info-title {
    font-size: 1.2rem;
  }

  div.info-text {
    font-size: 1.2rem;
  }

  /* Contact Section */
  .contact-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info p {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2rem;
  }
  
  /* Page Top */
  .page-top-container a.page-top img {
    width: 4.5rem;
    height: 4.5rem;
  }

  /* Footer */
  .footer .logo {
    width: 15rem;
  }

  .footer .logo a img {
    width: 15rem;
  }
}

@media screen and (max-width: 660px) {

  /* Mission Section */
  .mission-img, .container.active .mission-img {
    width: 45%;
  }

  /* Our Team Section */
  .single-box {
    margin: 0 10rem; 
  }

  .emoshu-shugo .img-container {
    padding-bottom: 1.5rem;
  }
  
  .emoshu-shugo img {
    padding: 1.5rem;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .inner-part {
    padding: 3rem;
  }
}

@media screen and (max-width: 605px) {

  /* Mission Section */
  .value-wrapper, .container.active .value-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .mission-img, .container.active .mission-img {
    width: 60%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 90rem;
  }
}

@media screen and (max-width: 590px) {

  /* Reusable */
  .section-wrapper {
    row-gap: 4rem;
  }

  /* Our Team Section */
  .single-box {
    margin: 0 7rem; 
  }

  .emoshu-shugo .img-container {
    width: 70%;
  }

  /* Recruit Section */
  /* Recruit - 働く環境 */
  .work-env {
    width: 90%;
  }
  
  .work-env-text {
    line-height: 2.2rem;
    padding: 2.2rem 1.5rem;
  }

  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 100rem;
  }

  .sliders {
    bottom: 2rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .sliders .tap:first-child,
  .sliders .tap:nth-child(4) {
    margin-left: 1rem;
  }
  
  .sliders .tap:nth-child(3) {
    margin-right: 1rem;
  }

  .sliders .tap:last-child {
    margin-right: 0;
  }

  .application.first {
    margin-top: 10rem;
  }

  .application-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .application-text p {
    width: 90%;
    margin: 2rem 0 1.5rem;
    line-height: 2.2rem;
  }

  /* Contact Section */
  .contact-info {
    flex-direction: column;
    justify-content: center;
  }

  .contact-info p {
    width: 90%;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  /* Footer */
  .footer .section-wrapper {
    padding: 3rem 7rem 3rem 2rem;
  }

  .container.active .footer .section-wrapper {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 570px) {

  /* Hero Section */
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {

  /* Our Team Section */
  .single-box {
    margin: 0 4rem; 
  }
}

@media screen and (max-width: 517px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 105rem;
  }
}

@media screen and (max-width: 500px) {

  /* Mission Section */
  .mission-value h2.value {
    margin-top: 6rem;
  }

  .mission-img, .container.active .mission-img {
    width: 70%;
  }

  /* Our Team Section */
  .emoshu-shugo .img-container {
    width: 75%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 95rem;
  }

  .job-description .description-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1.2rem;
  }

  .inner-part {
    padding: 2rem;
  }

  .sliders {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 485px) {

  /* News Section */
  .news-heading {
    padding: 2.5rem 0 2.5rem 2rem;
  }

  /* Our Team Section */
  .emoshu-shugo .img-container {
    width: 80%;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 100rem;
  }

  .sliders .tap {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 473px) {
  
  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 110rem;
  }

  .sliders {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .sliders .tap:nth-child(odd) {
    margin-left: 1rem;
    margin-right: 0;
  }

  .sliders .tap:nth-child(even) {
    margin-right: 1rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 461px) {
  
  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 110rem;
  }
}

@media screen and (max-width: 450px) {

  /* Our Team Section */
  .members {
    row-gap: 4rem;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .application.first {
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  .application-text p {
    width: 100%;
  }

  /* About Us Section */
  .info-title, .info-text {
    padding: 2.5rem 0;
  }

  /* Contact Section */
  .contact-info p {
    width: 100%;
  }
}

@media screen and (max-width: 473px) {
  
  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 115rem;
  }
}

@media screen and (max-width: 420px) {

  /* Mission Section */
  .mission-img, .container.active .mission-img {
    width: 85%;
  }

  /* Recruit Section */
  .inner-part {
    padding: 1rem;
  }

  /* Our Team Section */
  .single-box {
    margin: 0 3rem; 
  }

  /* About Us Section */
  .info {
    grid-template-columns: 1fr;
  }

  .info-title, .info-text {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 110rem;
  }

  /* Footer */
  .footer .section-wrapper {
    padding: 3rem 7rem 3rem 1rem;
  }

  .container.active .footer .section-wrapper {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 410px) {

  /* News Section */
  .news-heading {
    padding: 2.5rem 0;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .sliders {
    column-gap: 1.5rem;
  }
}

@media screen and (max-width: 405px) {
  
  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 115rem;
  }
}


@media screen and (max-width: 390px) {

  /* Our Team Section */
  .single-box {
    margin: 0 1rem;
  }

  .emoshu-shugo .img-container {
    width: 95%;
    padding-bottom: 1.2rem;
  }
  
  .emoshu-shugo img {
    padding: 1.2rem;
  }

  /* Recruit Section */
  /* Recruit - 働く環境 */
  .work-env {
    width: 100%;
  }
  
  .work-env-text {
    font-size: 1.3rem;
    line-height: 2.2rem;
    padding: 2.2rem 1rem;
  }
}

@media screen and (max-width: 375px) {

  /* Mission Section */
  .mission-img, .container.active .mission-img {
    width: 90%;
  }

  /* Recruit Section */
  /* Recruit - 働く環境 */
  .work-env-text {
    padding: 2.2rem 0;
  }
  
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 120rem;
  }

  .sliders {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 340px) {

  .attitude {
    text-align: left;
  }

  /* About Us Section */
  .info-title, .info-text {
    padding: 1.5rem 0;
  }

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .sliders {
    column-gap: 0.5rem;
  }

  .sliders .tap:nth-child(odd) {
    margin-left: 0.5rem;
  }

  .sliders .tap:nth-child(even) {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 333px) {

  /* Recruit Section */
  /* Recruit - 募集職種 */
  .job-card, .container.active .job-card {
    height: 125rem;
  }
}