@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Variables - Colors */
:root {
  --main-text: #363C49;
  --hover-text: #7B869D;
  --secondary-text: #58627D;
  --main-background: #F9F9F9;
  --secondary-background: #F1F1F1;
  --footer-background: #E2E2E2;
  --point-color: #F0EFEE;
  --menu-color: #FFFFFF;
  --border-color: #C4C9D4;
  --card-color: #ECEFF1;
  --emoshu-color: #BA1B21;
}

.dark-theme {
  --main-text: #FFFFFF;
  --hover-text: #C4C9D4;
  --secondary-text: #58627D;
  --main-background: #2B303B;
  --secondary-background: #414858;
  --footer-background: #16181D;
  --point-color: #303030;
  --menu-color: #1C1C1C;
  --border-color: #58627d;
  --card-color: #37474F;
  --emoshu-color: #BA1B21;
}

/* Universal */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'YuGothic', sans-serif;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  color: var(--main-text);
}

/* Reusable */
.container {
  width: 100%;
  height: 100%;
}

.section-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 10rem 15rem 10rem 40rem;
  position: relative;
  transition: all 0.3s ease-out;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

.section-title h4.section-index {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -1.5px;
  color: #BA1B21;
  margin-bottom: 2rem;
}

.section-title h1 {
  font-size: 4rem;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: .5rem;
}

.section-title h3 {
  font-size: 1.6rem;
}

.section-main {
  margin-top: 4rem;
}

/* Top Navigation Bar */
nav {
  width: 100%;
  height: 12rem;
  background-color: transparent;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 110;
}

.logo {
  width: 25rem;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a img {
  width: 25rem;
}

nav ul.sp-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--menu-color);
  padding-top: 12rem;
  top: 0;
  left: -100%;
  text-align: center;
  transition: all .5s ease-in-out;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  overflow: scroll;
  display: none;
  z-index: 10;
}

nav ul.sp-menu.open {
  left: 0;
  border-radius: initial;
}

nav ul.sp-menu li {
  display: block;
  margin: 5rem 0;
  line-height: 3rem;
}

nav ul.sp-menu li a {
  position: relative;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  padding: 0.5rem 0;
}

nav ul.sp-menu li a i {
  margin-right: 1rem;
}

nav ul.sp-menu li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -0.2rem;
  height: 0.3rem;
  width: 100%;
  background-color: var(--main-text);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s ease-out;
}

nav ul.sp-menu li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Animated Toggle Icon */
.btn-wrapper {
  width: calc(100% - 25rem);
  height: 12rem;
  display: none;
  align-items: center;
  justify-content: flex-end;
  z-index: 150;
}

.menu-btn {
  position: relative;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.menu-btn__burger {
  width: 3rem;
  height: 0.5rem;
  background-color: var(--main-text);
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 47, .2); */
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  background-color: var(--main-text);
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 47, .2); */
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-1.1rem);
}

.menu-btn__burger::after {
  transform: translateY(1.1rem);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-5rem);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}

/* Side Navigation */
.sidebar-menu {
  position: fixed;
  top: 12rem;
  left: 0;
  background-color: var(--menu-color);
  width: 25rem;
  height: 100%;
  transition: all 0.3s ease-out;
  z-index: 99;
}

.sidebar-menu .inner__sidebar-menu {
  position: relative;
  padding-top: 6rem;
}

.sidebar-menu ul li a {
  font-size: 1.8rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  padding: 2rem 3.5rem;
  display: block;
  white-space: nowrap;
  transition: all .5s;
}

.sidebar-menu ul li a span {
  display: inline-block;
}

.sidebar-menu ul li a .icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.sidebar-menu ul li a:hover {
  background-color: var(--point-color);
  color: var(--hover-text);
}

.sidebar-menu .hamburger {
  position: absolute;
  top: 0;
  right: -2.5rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--point-color);
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-menu .hamburger .inner__hamburger,
.sidebar-menu .hamburger .inner__hamburger .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-menu .hamburger .inner__hamburger {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--menu-color);
}

.sidebar-menu .hamburger .inner__hamburger .arrow {
  color: var(--main-text);
  font-size: 2rem;
  transition: all .5s;
}

.sidebar-menu .hamburger:hover .inner__hamburger .arrow {
  color: var(--hover-text);
}

/* Side Navigation Animation */
.sidebar-menu.active {
  width: 10rem;
}

.sidebar-menu.active .hamburger .fa-angle-double-right {
  display: block !important;
}

.sidebar-menu.active .hamburger .fa-angle-double-left {
  display: none;
}

.sidebar-menu.active ul li a .list {
  display: none;
}

.container.active .section-wrapper {
  padding-left: 25rem;
}

/* Theme Toggle Button */
.toggle-btn {
  position: fixed;
  top: 5rem;
  right: 5rem;
  display: flex;
  cursor: pointer;
  z-index: 300;
}

.theme-switch {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  position: relative;
  padding: 0.5rem;
  height: 2.6rem;
  width: 5rem;
}

.ball {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform .2s linear;
}

.theme-switch.dark-theme .ball {
  transform: translateX(24px);
}

.theme-switch i {
  font-size: 1.6rem;
}

.fa-moon {
  color: #fac40f;
}

.fa-sun {
  color: #f39c12;
}

/* Hero Section */
.hero .section-wrapper {
  background-color: var(--main-background);
  height: 100vh;
  display: block;
}

canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: #BA1B21;
  font-size: 6rem;
  text-align: center;
}

/* Mission Section */
.mission .section-wrapper {
  background-color: var(--secondary-background);
}

/* Services Section */
.services .section-wrapper {
  background-color: var(--main-background);
}

/* News Section */
.news .section-wrapper {
  background-color: var(--secondary-background);
}

/* Our Team Section */
.team .section-wrapper {
  background-color: var(--main-background);
}

.members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 6rem;
}

.single-box {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.header-area {
  border-radius: 1rem 1rem 50% 0;
  padding: 12rem 2rem;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.single-box .body-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}

.body-area h4 {
  font-size: 1.4rem;
  color: var(--hover-text);
  margin-bottom: 0.5rem;
}

.body-area h3 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.body-area p.pro-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.header-area.profile-img01 {
  background-image: url('../images/profile.png');
}

.header-area.profile-img02 {
  background-image: url('../images/profile.png');
}

/* Recruit Section */
.recruit .section-wrapper {
  background-color: var(--secondary-background);
}

/* About Us Section */
.about .section-wrapper {
  background-color: var(--main-background);
}

.info {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  column-gap: 2rem;
  border-top: 1px solid var(--border-color);
}

.info.last {
  border-bottom: 1px solid var(--border-color);
}

.info-title {
  font-weight: bold;
}

.info-title, .info-text {
  font-size: 1.6rem;
  padding: 2.5rem 0;
  color: var(--main-text);
}

.info-text p:not(:last-child) {
  padding-bottom: 2rem;
}

.info-text p.first {
  padding-bottom: 4rem;
}

.info-wrapper .map {
  margin-top: 4rem;
}

/* Contact Section */
.contact .section-wrapper {
  background-color: var(--secondary-background);
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-info p {
  font-size: 1.4rem;
  margin-right: 2rem;
}

.contact-info a.btn {
  width: 25rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem 0;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--menu-color);
  transition: all .4s;
}

.contact-info a.btn:hover {
  color: var(--hover-text);
  background-color: var(--point-color);
  box-shadow: 5px 5px 5px -1px var(--footer-background);
}

/* Footer */
.footer .section-wrapper {
  background-color: var(--footer-background);
  padding: 5rem 15rem 5rem 40rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer .logo {
  width: 20rem;
}

.footer .logo a img {
  width: 20rem;
}

.footer small {
  color: var(--main-text);
}

/* Page Top */
.page-top-container {
  position: relative;
  bottom: -6rem;
  z-index: 150;
}

.page-top-container a.page-top {
  position: fixed;
  right: 4.5rem;
  bottom: 3rem;
}

.page-top-container a.page-top img {
  width: 5rem;
  height: 5rem;
}

/* Media Query */
@media screen and (max-width: 900px) {

  /* Reusable */
  .section-wrapper {
    padding: 5rem 2.5rem;
  }
  
  .container.active .section-wrapper {
    padding-left: 2.5rem;
  }
  
  /* Top Navigation Bar */
  nav ul.sp-menu {
    display: block;
  }
  
  .btn-wrapper {
    display: flex;
  }
  
  /* Side Navigation */
  .sidebar-menu {
    display: none;
  }

  /* Theme Toggle Button */
  .toggle-btn {
    right: 2rem;
    top: 9rem;
  }
  
  /* Content */
  .container, .container.active {
    width: 100%;
  }
  
  /* Page Top */
  .page-top-container a.page-top {
    right: 2rem;
  }

  /* Footer */
  .footer .section-wrapper {
    padding: 3rem 10rem 3rem 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  
  /* Page Top */
  .page-top-container a.page-top img {
    width: 4.5rem;
    height: 4.5rem;
  }
}